.paymentContainer {
  padding: 20px 0;
}

.paymentOptContainer {
  display: flex;

  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.paymentLabel {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding: 5px 0;
}

.paymentOption {
  margin: 12px 12px 0 0;
}
