.main {
  background-color: #fff;
}

.header {
  background-color: black;
  width: 100%;
  vertical-align: center;
}

.title {
  color: #fff;
  margin: 0 auto;
  font-size: 30px;
  max-width: 1200px;
  min-height: 160px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 0;

  @media (max-width: 990px) {
    flex-direction: column-reverse;
  }
}
