.container {
  display: flex;
  padding-bottom: 12px;
  justify-content: space-between;
}

.labelContainer {
  display: flex;
  flex: 1;
}

.image {
  margin-right: 8px;
  max-height: 64px;
  max-width: 64px;
}

.label {
  align-self: center;
  font-weight: 500;
  margin-right: 16px;
}

.amount {
  align-self: center;
  font-weight: 600;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
