.section {
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  padding: 24px;
  flex-direction: column;
}

.header {
  flex-basis: 33.33%;
  font-size: 24px;
  padding: 12px 0;
  font-weight: 500;

  @media (max-width: 990px) {
    padding-bottom: 12px;
  }
}

.subHeader {
  flex-basis: 33.33%;
  font-size: 16px;
  font-weight: 900;
  @media (max-width: 990px) {
    padding-bottom: 12px;
  }
}

.body {
  display: flex;
  padding-top: 12px;
  flex-basis: 66.67%;
  flex-flow: row wrap;
  margin: 0 -12px;
}
